@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
body,
html {
  @apply w-full h-full;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplayBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplayExtralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplayLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplayMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplayRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("./fonts/ClashDisplaySemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "ClashDisplay", sans-serif;
}

html {
  scroll-behavior: smooth;
}
